{
  "APP_NAME": "Totoval",
  "APP_ENV": "develop",
  "APP_DEBUG": true,
  "APP_PORT": 8080,
  "APP_LOCALE": "en",
  "APP_KEY": "ajwklefjklwjelkflkwefwef",
  "DB_CONNECTION": "mysql",
  "DB_HOST": "127.0.0.1",
  "DB_PORT": "3306",
  "DB_DATABASE": "wallet",
  "DB_USERNAME": "root",
  "DB_PASSWORD": "eznOiMjtLXWugdDl9MLm",
  "DB_PREFIX": "prefix_",
  "AUTH_SIGN_KEY": "klasdjflksdjfklsdkljf",

  "QUEUE_CONNECTION": "nsq",
  "QUEUE_NSQ_HOST": "127.0.0.1",
  "QUEUE_NSQ_PORT": "4151"
}